.title-page{
    text-align: center;
}
.info-product{
    background-color: #12a136;
    width: 100%;
    text-align: center;
}

.info-product h2{
    padding: 15px;
}

.products{
    text-align: center;
    
}

.product-card{
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.product-card a{
    text-decoration: none;
}
.button-delete{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.753);
    border-radius: 7px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-edit{
    padding: 10px;
    background-color: rgba(0, 153, 255, 0.753);
    border-radius: 7px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttons-group{
    text-align: center;
}
.button-register-new{
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    background-color: #12a136;
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 7px;
    left: 15px;
    cursor:pointer
}

.button-register-new:hover{
    background-color: #03611b;
}

