<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InventoryApp</title>
    <link rel="stylesheet" href="../../styles/addproducts.css">
</head><style>

    body{
        
        margin:0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .menu__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        font-size: 22px;
    }

    .menu__list--item {
        float: right;
    }

    .menu__list--item a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menu__list--item a:hover:not(.active) {
        background-color: #111;
    }
</style>

<body>
    <div class="menu">
        <ul class="menu__list">
            <li class="menu__list--item"><a href="/">Inicio</a></li>
            <li class="menu__list--item"><a href="/category">Categorias</a></li>
            <li class="menu__list--item"><a href="/products/">Productos</a></li>

        </ul>
    </div>
    <h1 class="title">Registro de Productos</h1>


    <div class="form-container">
        <form action="/products/add" method="POST">
            <label for="name">Nombre:</label> <br>
            <input type="text" name="name" autofocus required> <br>
            <label for="description">Descripción:</label> <br>
            <input type="text" name="description" required> <br>
            <label for="category_id">Categoria: </label> <br>
            <select name="category_id" id="" value="Elige Categoria">
                <% for(let i = 0; i < h.length; i++){ %>
                    <option value="<%= h[i].id %>"><%= h[i].name %> </option>
                <% } %>
            </select> <br> <br>
            <div style="text-align: center;">
                <button>
                    Registrar Producto
                </button>
            </div>
          
        </form>
    </div>
    <br>    
    <div  class="group-buttons">
        <a href="/products">
            <button>
                Ver productos
            </button> 
        </a> 
    </div>
     
    <%#= h %> 

      <%# for(let item in h){ %>
            <%#= h[item].id %>
     <%# } %>
     
   
</body>
</html>