<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Category Page</h1>
    <a href="/category/add">
        <button>
            Registrar categoria
        </button>
    </a>
    <% for(var i = 0; i < categories.length; i++ ) { %>
        <h1><%= categories[i].name %></h1>
        <h3><%= categories[i].description %></h3>
        <a href="/category/delete/<%= categories[i].id %> ">
            <button>
                Elminar Categoria
            </button>
        </a>
        <a href="/category/edit/<%= categories[i].id %>">
            <button>
               Editar Categoria
            </button>
        </a>

    <% } %>  
    <br> <br>
    <a href="/category/add">Agregar categorias</a>
    
</body>
</html>